.body {
    background-color: aqua;
}
.dolphin{
    color: blue;
    font-size:large;
    align-content: center;
}
.lion{
    color:blue;
    font-size: large;
    align-content: center;
}
.panda{
    color: blue;
    font-size: large;
    align-items: center;
}

.body{
    background-color: aqua ;
}